{% extends 'base.html' %}

{% block content %}
    <div class="flex">
        <h1>Chart of Accounts</h1>
        <a href="{{url_for('account.Add')}}" class="button align-right">New Account</a>
    </div>

    <table class="bordered-thick">
        <tr class="height-50">
            <th class="bordered-thick">
                Account Number
            </th> 
            <th class="bordered-thick">
                Account Title
            </th>
            <th class="bordered-thick">
                Actions
            </th>
        </tr>

        {% if accounts %}
            {% for account in accounts %}
        <tr class="height-50">
            <td class="bordered-thick">
                {{account['account_number']}}
            </td> 
            <td class="bordered-thick">
                {{account['name']}}
            </td>
            <td class="bordered-thick">
                <a href="{{url_for('account.Edit', account_id=account['id'])}}" class="button">Edit</a>
                <a href="{{url_for('account.Delete', account_id=account['id'])}}"  class="button" onclick="return confirm('Are you sure you want to delete this item')">Delete</a>
            </td>
        </tr>
            {% endfor %}
        {% else %}
        <tr class="height-50">
            <td colspan="3" class="bordered-thick text-center">No record found.</td>
        </tr>
        {% endif %}
    </table>

{% endblock %}