{% extends 'base.html' %}

{% block content %}
    <div class="flex">
        <h1>Chart of Accounts</h1>
        <a href="{{url_for('account.Add')}}" class="button align-right">New Account</a>
    </div>

    <table class="flex-column bordered-thick">
        <tr class="flex justify-center height-50">
            <th class="flex flex-2 align-items-center justify-center bordered-thick-right">
                Account Number
            </th> 
            <th class="flex flex-3 align-items-center justify-center bordered-thick-right">
                Account Title
            </th>
            <th class="flex flex-1 align-items-center justify-center">
                Actions
            </th>
        </tr>

        {% if accounts %}
            {% for account in accounts %}
        <tr class="flex justify-center height-50">
            <td class="flex flex-2 align-items-center justify-center bordered-thick-top bordered-thick-right">
                {{account.account_number}}
            </td> 
            <td class="flex flex-3 align-items-center justify-center bordered-thick-top bordered-thick-right">
                {{account.account_title}}
            </td>
            <td class="flex flex-1 align-items-center justify-center bordered-thick-top">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </td>
        </tr>
            {% endfor %}
        {% else %}
        <tr class="flex align-items-center justify-center bordered-thick-top height-50">
            <td>No record found.</td>
        </tr>
        {% endif %}
    </table>

{% endblock %}