<!DOCTYPE html>
<html>
<head>
	<title>{{g.company_name}} v0.3</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
	<div class="flex-column">
		<header class="flex-column">
			{% include 'navbar.html' %}
		</header>
		<main class="flex-column">
			{% block content %}
			{% endblock %}		
		</main>
		<footer class="flex-column">
			{% with messages=get_flashed_messages() %}
				{% for message in messages %}
				<p class="font-red">{{message}}</p>
				{% endfor %}
			{% endwith %}
		</footer>
	</div>
</body>
</html>