{% macro select_field(field_name, choices, selected_id, i=None) %}
	{% if i %}
		<select name="{{i}}_{{field_name}}" class="flex-1">
	{% else %}
		<select name="{{field_name}}" class="flex-1">
	{% endif %}
			<option value="0"></option>
			{% for choice in choices %}
				{% if choice['id'] == selected_id %}
			<option value="{{choice['id']}}" selected>{{choice['name']}}</option>
				{% else %}
			<option value="{{choice['id']}}">{{choice['name']}}</option>
				{% endif %}
			{% endfor %}
		</select>
{% endmacro %}

{% macro line_entry(field_name, field_label, field_value) %}
	<div class="flex padding-20">
		<label class="width-25p">{{field_label}}</label>
		<input type="text" name="{{field_name}}" value="{{field_value}}" class="width-75p">
	</div>
{% endmacro %}

{% macro amount(field_name, number,i=None) %}
	{% if i %}
	<input type="text" name="{{i}}_{{field_name}}" value="{{number}}" class="flex-1">
	{% else %}
	<input type="text" name="{{field_name}}" value="{{number}}" class="flex-1">
	{% endif %}
{% endmacro %}