<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">{{g.company_name}}</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="{{url_for('home_page.Home')}}">Home</a>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Company Journal
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			  <li><a class="dropdown-item" href="{{url_for('sales.Home')}}">Sales</a></li>
			  <li><a class="dropdown-item" href="{{url_for('cr.Home')}}">Cash Receipts</a></li>
			  <li><a class="dropdown-item" href="{{url_for('ap.Home')}}">Accounts Payable</a></li>
			  <li><a class="dropdown-item" href="{{url_for('cd.Home')}}">Cash Disbursements</a></li>
			</ul>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Options
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<li><a class="dropdown-item" href="{{url_for('account.Home')}}">Chart of Accounts</a></li>
				<li><a class="dropdown-item" href="{{url_for('vendor.Home')}}">Vendors</a></li>
				<li><a class="dropdown-item" href="{{url_for('customer.Home')}}">Customers</a></li>
				<li><a class="dropdown-item" href="{{url_for('options.Home')}}">Options</a></li>
			</ul>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" aria-current="page" href="{{url_for('auth.Logout')}}">Log Out</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>