{% extends 'base.html' %}

{% block content %}
    <h1>New Account</h1>

    <form method="post" action="{{url_for('cd.Add')}}" class="flex-column">
        {{csrf_token}}
        <table>
            <tr>
                <td>
                    <label for="record_date">Date</label>
                </td> 
                <td class="flex height-50">
                    <input type="date" class="flex-1 align-items-stretch font-16" name="record_date" value="{{form['record_date']}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cd_num">CD No.</label>
                </td> 
                <td class="flex height-50">
                    <input type="text" class="flex-1 align-items-stretch font-16" name="cd_num" value="{{form['cd_num']}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="vendor_id">Vendor</label>
                </td> 
                <td class="flex height-50">
                	<select name="vendor_id">
                		<option value="0">--SELECT VENDOR--</option>
                		{% for vendor in vendors %}
                			{% if vendor['id'] == form['vendor_id'] %}
                		<option value="{{vendor['id']}}" selected>{{vendor['vendor_name']}}</option>
                			{% else %}
                		<option value="{{vendor['id']}}">{{vendor['vendor_name']}}</option>
                			{% endif %}
                		{% endfor %}
                	</select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description">Description</label>
                </td> 
                <td class="flex height-50">
                    <input type="text" class="flex-1 align-items-stretch font-16" name="description" value="{{form['description']}}">
                </td>
            </tr>
        </table>

        <table>
        	<tr>
        		<th>Account Title</th>
        		<th>Debit</th>
        		<th>Credit</th>
        	</tr>
        	{% for entry in form['entry'] %}
        	<tr>
        		<td>{{entry}}</td>
        		<td>{{entry}}</td>
        		<td></td>
        	</tr>
        	{% endfor %}	
        </table>

        <div class="flex flex-1 justify-center gap-20 height-50">
            <input type="submit" class="button width-125" value="Save" name="cmd_button">
            <input type="submit" class="button width-125" value="Save and New" name="cmd_button">
        </div>
</form>
{% endblock %}

description