{% extends 'base.html' %}

{% block content %}
    <div class="flex">
        <h1>Cash Disbursements</h1>
        <a href="{{url_for('cd.Add')}}" class="button align-right">New Voucher</a>
    </div>

    <form method="post" action="{{url_for('cd.Home')}}">
        {{csrf_token}}
        <div class="flex">
            <label>From</label>
            <input type="date" name="date_from" value="{{date_from}}">
            <label>To</label>
            <input type="date" name="date_to" value="{{date_to}}">
            <input type="submit" value="Refresh" class="button">
        </div>        
    </form>

    <table class="bordered-thick">
        <tr class="height-50">
            <th class="bordered-thick">
                Date
            </th> 
            <th class="bordered-thick">
                CD No.
            </th> 
            <th class="bordered-thick">
                Vendor
            </th>
            <th class="bordered-thick">
                Check No.
            </th>
            <th class="bordered-thick">
                Actions
            </th>
        </tr>

        {% if cds %}
            {% for cd in cds %}
        <tr class="height-50">
            <td class="bordered-thick">
                {{cd['record_date']}}
            </td> 
            <td class="bordered-thick">
                {{cd['cd_num']}}
            </td> 
            <td class="bordered-thick">
                {{cd['vendor_name']}}
            </td>
            <td class="bordered-thick">
                {{cd['check_number']}}
            </td>
            <td class="bordered-thick">
                <a href="{{url_for('cd.Edit', cd_id=cd['id'])}}">Edit</a>
                <a href="{{url_for('cd.Delete', cd_id=cd['id'])}}" onclick="return confirm('Are you sure you want to delete this item')">Delete</a>
            </td>
        </tr>
            {% endfor %}
        {% else %}
        <tr class="height-50">
            <td colspan="5" class="bordered-thick text-center">No record found.</td>
        </tr>
        {% endif %}
    </table>

{% endblock %}